* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{font-family: Verdana, Geneva, Tahoma, sans-serif;}
#game {
  width: 800px;
  height: 600px;
  background-image: url(../img/wally.jpg);
  position: relative;
}
#game:hover {
  cursor: crosshair;
}
#doorzichtige_knop {
  width: 20px;
  height: 40px;
  position: absolute;
  top: 112px;
  left: 127px;
}
#gevonden{
padding: 40px;
height: 100px;
width: 150px;
display: none;
position: absolute;
top: calc(50% - 50px);
left: calc(50% - 75px);
text-align: center;
line-break: 100px;
font-size: 25px;

}
#game .hoera{
    display: block;
}